#brand{
    font-family: 'Raleway', sans-serif;
    background-color: #4169E1;
    padding: 1em;
    width: 6em;
}
#brand div:first-child{
    font-weight: 400;
    color: #fff;
}
#brand div:first-child::after{
    content: "";
    border-right: 0.1ch solid #FFD700;
    margin-left: 0.2ch;
}

#brand div:last-child{
    font-weight: 200;
    margin-left: 4.02ch;
    color: #B0E0E6;
}

#brand div:last-child::before{
    content: "";
    border-left: 0.1ch solid #FFD700;
    margin-right: 0.1ch;
} 